.btnLogin {
    width: 120px;
    height: 35px;
    border-radius: 100px;
    border: 0px;
    font-weight: 600;
    margin: 20px auto 20px;
    color: white;
    background-color: #037e6a;
}

.btnLogin:hover {
    background-color: #08a389;
}

.loginForm {
    margin: 20px auto 20px;
    background: white;
    width: 30vw;
    border-radius: 7px;
    padding: 20px;
}

.loginForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm div {
    display: flex;
    flex-direction: row;
}